@model WebApp.ViewModels.AddressSelectionModel
@{
    var allCities = Model.AllCities;
    var districts = Model.Districts ?? new List<SelectListItem>();
}

<div class="field">
    <label>
        <label>@Html.LabelFor(x => x.CityId)
            @if (ViewData.ModelMetadata.IsRequired)
            {
                <text><span style="color: Red; font-weight: bold;">*</span></text>
            }
        </label>
    </label>
    @Html.DropDownListFor(x => x.CityId, allCities, new {@class = "ui fluid dropdown"})
</div>


<div class="field">
    <label>
        <label>@Html.LabelFor(x => x.DistrictId)
            @if (ViewData.ModelMetadata.IsRequired)
            {
                <text><span style="color: Red; font-weight: bold;">*</span></text>
            }
        </label>
    </label>
    @Html.DropDownListFor(x => x.DistrictId, districts, new {@class = "ui fluid dropdown", @placeholder="Укажите район"})
</div>
