@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutSemanticUI";
}

<div class="ui container" ng-controller="HomeController as ctrl">
    <h2 class="ui center aligned icon header">
        <i class="circular users icon"></i>
        Your logo here
    </h2>

    <div class="ui grid">
        <div class="row">
            <div class="three wide column">
                <div class="ui center aligned">
                    <select name="city" class="ui fluid normal dropdown" ng-model="ctrl.city" ng-change="ctrl.changeFilters()">
                        <option value="">Выберите город</option>
                        <option value="{{item.Value}}" ng-selected="ctrl.citySelected[item.CityId].selected" ng-repeat="item in ctrl.cityList">{{item.Text}}</option>
                    </select>
                    <select name="disctict" class="ui fluid normal dropdown" ng-model="ctrl.disctrict" ng-change="ctrl.changeFilters()">
                        <option value="">Выберите район</option>
                        <option value="{{item.Value}}" ng-repeat="item in ctrl.districtList | orderBy:'Text'">{{item.Text}}</option>
                    </select>
                    <select multiple="" name="houseTypes" class="ui fluid normal dropdown" ng-model="ctrl.selectedHouseType" ng-change="ctrl.changeFilters()">
                        <option value="">Тип жилья</option>
                        <option value="{{item.Value}}" ng-repeat="item in ctrl.houseTypes">{{item.Text}}</option>
                    </select>
                    <div class="ui input">
                        <input type="text" placeholder="от" ng-change="ctrl.changeFilters()" ng-model="ctrl.priceFrom"  ng-model-options="{debounce: 500}">
                    </div>
                    <div class="ui input">
                        <input type="text" placeholder="до"  ng-change="ctrl.changeFilters()" ng-model="ctrl.priceTo" ng-model-options="{debounce: 500}">
                    </div>
                </div>
            </div>
            <div class="thirteen wide column">
                <div class="ui container">
                    <div class="ui segment" ng-if="ctrl.loadingdata">
                        <p></p>
                        <div class="ui active inverted dimmer">
                            <div class="ui loader"></div>
                        </div>
                    </div>

                    <div class="ui three column stackable grid segment" ng-repeat="item in ctrl.rentData | limitTo: 10">
                        <div class="four wide column">
                            <div class="ui">
                                <h3><i class="home icon"></i>{{item.HouseType}}</h3>
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="ui "> 
                                <h3><i class="ruble icon"></i>{{item.Price}}</h3>
                             </div>
                        </div>
                        <div class="eight wide column">
                            <div class="ui right aligned">
                               <i class="marker icon"></i> {{item.CityName}} {{item.District}} {{item.Street}}
                            </div>
                        </div>
                        <div class="ten wide column">
                            <div class="ui"><i class="write icon"></i> <span>{{item.Description}}</span></div>
                        </div>
                        <div class="six wide column">
                            <div class="ui"><i class="phone icon"></i>
                                @if(User.Identity.IsAuthenticated) {
                                    <span>{{item.Phone}}</span>
                                } else {
                                    <span>Номер телефона виден только зарегистрированному пользователю</span>
                                }

                            </div>
                        </div>
                    </div>
             
                    <div class="ui circular labels">
                        <a class="ui label">Первая</a>
                        <a class="ui blue label">1</a>
                        <a class="ui label">2</a>
                        <a class="ui label">3</a>
                        <a class="ui label">Последняя</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>