@{
    ViewData["Title"] = "Home Page";
}

<h3>main page</h3>
<div ng-controller="HomeController as ctrl">
    <ul>
        <li ng-repeat="item in ctrl.rentData">{{item.Street}}</li>
    </ul>

</div>
