<!DOCTYPE html>
<html ng-app="RealEstateMVCApp">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - WebApp</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/lib/semantic-ui/dist/semantic.css"/>
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/reset.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/site.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/container.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/grid.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/header.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/image.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/menu.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/divider.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/dropdown.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/segment.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/button.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/list.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/icon.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/sidebar.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/transition.css">
            <style>
                .main.container {
                    margin-top: 7em;
                  }
            </style>
        </environment>
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a href="#" class="header item">                    
                    RealEstate CRM
                </a>
                <a href="#" class="item">Home</a>
                <div class="ui simple dropdown item">
                    Dropdown <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="#">Link Item</a>
                        <a class="item" href="#">Link Item</a>
                        <div class="divider"></div>
                        <div class="header">Header Item</div>
                        <div class="item">
                            <i class="dropdown icon"></i>
                            Sub Menu
                            <div class="menu">
                                <a class="item" href="#">Link Item</a>
                                <a class="item" href="#">Link Item</a>
                            </div>
                        </div>
                        <a class="item" href="#">Link Item</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Contents -->
    <div class="ui main text container">
        @RenderBody()
    </div>
            

            <environment names="Development">
                <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                        asp-fallback-test="window.jQuery">
                </script>
                <script src="~/lib/angular/angular.min.js"></script>
                <script src="~/controllers/home.controller.js"></script>
                <script src="~/App.js"></script>


                <script src="~/lib/semantic-ui/dist/semantic.js"></script>
                

                <script>
                    $('.ui.dropdown').dropdown();
                </script>
            </environment>

            @RenderSection("scripts", required: false)
</body>
</html>
