@model WebApp.ViewModels.BlackListViewModel

<form asp-controller="BlackList" asp-action="Create" class="ui form" role="form">
   
    <h4 class="ui divided header">Новая запись</h4>
        
    <div asp-validation-summary="ValidationSummary.All" class="ui negative message" hide-if="@ViewContext.ModelState.IsValid"></div>

    @Html.EditorFor(x => x.PhoneNumber)
    @Html.EditorFor(x => x.Description)
        
    <div class="ui buttons">
        <button type="submit" class="ui button blue">Создать</button>
    </div>
    <a asp-action="Index">Вернуться к списку</a>
</form>


