@model WebApp.ViewModels.BlackListViewModel

<form asp-action="Edit" class="ui form"  method="post" >
    <h4 class="ui divided header">Редактирование</h4>

    <div asp-validation-summary="ValidationSummary.All" class="ui negative message" hide-if="@ViewContext.ModelState.IsValid"></div>

    @Html.EditorFor(x => x.PhoneNumber)
    @Html.EditorFor(x => x.Description)

    <div class="ui buttons">
        <button type="submit" class="ui button blue">Сохранить изменения</button>
    </div>
    <a asp-action="Index">Вернуться к списку</a>
</form>

