@model WebApp.ViewModels.HousingEditModel


<table class="ui single line table compact">
    <thead>
    <tr>
        <th>Дата</th>
        <th>Статус</th>
        <th>Сотрудник</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var call in Model.Calls)
    {
        <tr>
            <td>@call.Date.ToString()</td>
            <td>@call.Status</td>
            <td>@call.EmployeeName</td>
        </tr>
    }
    </tbody>
</table>
  