@model SelectList

<div class="field">
    <label>
        <label>@Html.LabelFor(x => x)
            @if (ViewData.ModelMetadata.IsRequired)
            {
                <text><span style="color: Red; font-weight: bold;">*</span></text>
            }
        </label>
    </label>
    @Html.DropDownListFor(x => x, Model , new {@class = "ui fluid dropdown " + ViewData["disabled"] })
</div>
